.notific_block{
	position: relative;
}
.friend_block{
	position: relative;
}
#request_result{
	position: absolute;
	left: -100px;
	display: none;
}

#friend_list{
	position: absolute;
	left: -100px;
	display: none;
}

.notific_icon{
	width: 50px;
}
.friend_icon{
	width: 50px;
}